
@import '~src/variable.scss';

    .alert-message{
        color: $color-red;
    }
    .input-design{
       display: table;
       margin:auto;
    }
    .div-main-login{
        background-color: rgb(227, 233, 243);
    }
    .div-background{
        color: white;
        background-color: rgb(44, 47, 224);
        text-align:center;
        height:120px;
        padding-top: 20px;
    }
    .card-design{
        width:40%;
        margin: auto;
    }
    .input-label{
        display: table;
    }
    .signin-forgetPassword{
        padding-left: 10px;
    }