
<div class="div-main-login" *ngIf="!hideLogin">
  <h2 class="div-background">
    Utiliko
  </h2>
  <div class="card  card-design">
    <div class="card-body">
      <div class="card-title text-center">
          Sign In
      </div>
        <form (ngSubmit)="onSubmit()" #login="ngForm">
          <div class="form-group">
          <label for="username" class="input-label">
             Email 
          </label>
          <input type="email" [(ngModel)]="model.username" name="username" #username="ngModel" class="form-control input-design" placeholder="Enter email"  required>
          <div [hidden]="username.valid||username.pristine" class="alert-message">
            Email is required
          </div>
          <br>
          <label for="password" class="input-label">
            Password
          </label>
          <input type="password" [(ngModel)]="model.password" name="password" #password="ngModel" class="form-control input-design" placeholder="Enter Password" required>
          <div [hidden]="password.valid||password.pristine" class="alert-message">
            Password is required
          </div>
          <br>
          <p>
            <input type="checkbox"> Remember Me
            <strong class="signin-forgetPassword">Forget Password?</strong>
          </p>
          <br>
          <button type="submit" [disabled]="!login.form.valid" class="btn btn-primary btn-block" (click)="goToHomePage()"> Sign In </button>  
          <br>
          <p>
            Dont have an account? <strong (click)="register()"> Resgister here!</strong>
          </p> 
        </div>
        </form>
      </div>   
    </div>
  </div>
  