<!-- 

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  
    <div class="btn-group">
        <a class="navbar-brand">
            <button type="button" class="btn btn-info dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="sort('username')">Sort By User Name</a>
                <a class="dropdown-item" (click)="sort('module')">Sort By Module</a>
                <div class="dropdown-divider"></div>
            </div>
        </a>
    </div>
   
    <a class="navbar-brand">
        <button type="button" class="btn btn-outline-info "(click)="home()" >Home</button>
    </a>
    <a class="navbar-brand">
        <button type="button" class="btn btn-outline-info " (click)="register()">Register</button>
    </a>
    <input class="form-control mr-sm-2 input-search" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchValue">
   
</nav>

<div *ngIf="showFilter">
        <input class="form-control mr-sm-2 input-search" type="search" placeholder="Filter your data" aria-label="Search">
        
</div>


<table datatable class="row-border hover" width="100%">
    <thead>  
    <tr>
        <th>Sr No.</th>
        <th>Full Name</th>
        <th>User Name</th>
        <th>Email Id</th>
        <th>Company Name</th>
        <th>Company Email</th>
        <th>Module</th>
    </tr>
    </thead>
  
    <tbody *ngIf="!showSearch">
        <tr *ngFor="let user of registerData | paginate : { id: 'p',itemsPerPage: 5, currentPage: num, totalItems: itemsCount} | orderBy:sortValue:ascending | filter: searchValue ;let i=index">
            <td>{{user.id}}</td>
            <td>{{user.fullname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.companyname}}</td>
            <td>{{user.companyemail}}</td>
            <td>{{user.module}}</td>
        </tr>
    </tbody>
 
    <tbody *ngIf="showSearch" >
        <tr>
            <td>{{searchedData.id}}</td>
            <td>{{searchedData.fullname}}</td>
            <td>{{searchedData.username}}</td>
            <td>{{searchedData.email}}</td>
            <td>{{searchedData.companyname}}</td>
            <td>{{searchedData.companyemail}}</td>
            <td>{{searchedData.module}}</td>
        </tr>
    </tbody>

   


        <pagination-template #p="paginationApi" id="p"
            (pageChange)="pageChanged($event,p.getCurrent(),p.getTotalItems())">

            <div class="userdetails-btn-display">
                <button class="btn btn-outline-info" [disabled]="setStatus">
                    <a (click)="p.previous()"> prev </a>
                </button>
                <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <button class="btn btn-pagination" [disabled]="p.isLastPage()" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                        <a class="userdetails-pagination">{{ page.label }}</a>
                    </button>
                    <button class="btn btn-pagination"  [disabled]="setStatus" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() === page.value " >
                        <a class="userdetails-pagination">{{ page.label }}</a>
                    </button>
                </div>

                <button class="btn btn-outline-info" [disabled]="p.isLastPage()">
                    <a *ngIf="!p.isLastPage()" (click)="p.next()"> next </a>
                </button>
            </div>
        </pagination-template>
</table> -->

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>Full Name</th>
            <th>User Name</th>
            <th>Email Id</th>
            <th>Company Name</th>
            <th>Company Email</th>
            <th>Module</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of registerData">
            <td>{{user.id}}</td>
            <td>{{user.fullname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.companyname}}</td>
            <td>{{user.companyemail}}</td>
            <td>{{user.module}}</td>
        </tr>
      </tbody>
</table>
