.nav-label{
    color: black;
    text-align: center;
    font-size: 1.2em;
}
.btn-design{
    float: right;
}
.input-search{
    width: 20%;
}
.userdetails-btn-display{
    display:flex;
}
.userdetails-pagination{
    padding-left:15px;
    padding-right:15px;
    color: grey;
   
}
.userdetails-a :hover{
    border: 1px solid grey;
}
.btn-pagination{
    background: transparent;
    box-shadow: none;
}
.btn-pagination :hover{
    color: rgb(38, 71, 141);
}