<div>
  <h2 class="title">
    Utiliko
    
  </h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
            <button type="button" (click)="logout()" class="btn btn-outline-primary">Logout</button>
        </a>
        <a class="navbar-brand">
            <button type="button" class="btn btn-outline-danger" (click)="users()">Users</button>
        </a>
    </nav>
</div>