<div class="div-main-register">
 <h2 class="register-title">
   Utiliko
 </h2>

<div class="card card-design">
  
  <div class="card-body">
    <h4 class="card-title text-center">
      Register Yourself
    </h4>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">
          <label for="fullname" class="card-text" > Full Name </label>
          <input type="text" [(ngModel)]="register.fullname" name="fullname" #fullname="ngModel" class="form-control input-design " aria-describedby="emailHelp" placeholder="Enter your full name" required>
          <div [hidden]="fullname.valid||fullname.pristine" class="alert-message">
            Name is required
          </div>
          <br>
          <label for="username" class="card-text" > User Name</label>
          <input type="text" [(ngModel)]="register.username" name="username" #username="ngModel" class="form-control input-design " placeholder="User name" required >
          <div [hidden]="username.valid||username.pristine" class="alert-message" >
            Name is required
          </div>
         <br>
          <label for="email" class="card-text" > Email</label>
          <input type="email" [(ngModel)]="register.email" name="email" #email="ngModel" class="form-control input-design " placeholder="Enter Email"  required>
          <div [hidden]="email.valid||email.pristine" class="alert-message" >
            Email is required
          </div>
         <br>
        
          <label for="companyname"> Company Name</label>
          <input type="text"  [(ngModel)]="register.companyname" name="companyname" #companyname="ngModel" class="form-control input-design" placeholder="Company name" required >
          <div [hidden]="companyname.valid||companyname.pristine" class="alert-message" >
            Company Name is required
          </div>
         <br>
          <label for="companyemail"> Company Email</label>
          <input type="email"  [(ngModel)]="register.companyemail" name="companyemail" #companyemail="ngModel" class="form-control input-design"  placeholder="Email"  required>
          <div [hidden]="companyemail.valid||companyemail.pristine" class="alert-message" >
            Company Email is required
          </div>
         <br>
          <label for="companydomain" >  Company Domain</label>
          <input type="text" [(ngModel)]="register.companydomain" name="companydomain" #companydomain="ngModel" class="form-control input-design"  placeholder="Company Domain" required>
          <div [hidden]="companydomain.valid||companydomain.pristine" class="alert-message" >
            Company Domain is required
          </div>
         <br>
          <label for="companycontact" > Company Contact</label>
          <input type="number" [(ngModel)]="register.companycontact" name="companycontact" minlength="10" maxlength="10" #companycontact="ngModel" class="form-control input-design"  placeholder="Company Contact" required>
          <div [hidden]="companycontact.valid||companycontact.pristine||companycontact.minlength||companycontact.maxlength" class="alert-message" >
            {{message}}
          </div>
         <br>
          <strong for="selectmodule">Select Module</strong>
          <br>
            <label *ngFor="let module of modules;let i = index"  class="register-label">
                <input type="checkbox" [(ngModel)]="register.module" value="{{module}}" name="modules[]" (change)="getValue($event,i)" [checked]="modules[i]">
                  {{module}}
                <br>
            </label>
          <br>
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="register.password" name="password" #password="ngModel" class="form-control input-design"  placeholder="Password" required>
          <div [hidden]="password.valid||password.pristine" class="alert-message" >
            Password is required
          </div>
          <br>
          <label for="confirmpassword" >Confirm Password</label>
          <input type="password" [(ngModel)]="register.confirmpassword" name="confirmpassword" #confirmpassword="ngModel" class="form-control input-design"  placeholder="Confirm Password" required>
          <div [hidden]="password.valid||password.pristine" class="alert-message" >
            Please confirm the password
          </div>
          <br>
          <input type="checkbox"> I read and accept terms and conditions
          <br>
          <br>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.form.valid" >Sign Up</button>
          <br>
          <br>
          <label [routerLink]="['/signin']" class="register-backlogin">Back to Login</label>
          </div>
   </form>
  </div>
    
  </div>
</div>
 