
@import '~src/variable.scss';
    .alert-message{
        color: $color-red;
    }
    .register-title{
        color: green;
    }
    .register-input-label{
         font-size: 1.5em;
         color: green;
    }
    .register-input-text{
        height: 20px;
        width: 40%;
    }
    .input-design{
        margin: unset;
    }
    .register-label{
        display: table;
    }
    .register-backlogin{
        color: blue;
        font-weight: 500;
    }
    .signin-btn{
        width: 50%;
    }
    .div-main-register{
        background-color: rgb(227, 233, 243);
    }
    .register-title{
        color: white;
        background-color: rgb(44, 47, 224);
        text-align:center;
        height:120px;
        padding-top: 30px;
    }
    .card-design{
        width:40%;
        margin: auto;
    }
